<article class="post">
  <div class="title">
  <p><a href="/post/{{id}}" target="_blank">{{title}}</a><span>()</span> {
    <br>
    {{body}}
    <br>
    };
  </p>
</div>
  <div class="meta">
  <span>const votes = </span>{{vote_count}}
  <br>
  by("{{user.username}}").on({{format_date created_at}})
  <br>
  <span>{{comments.length}} {{format_plural "console log" comments.length}}</span>
</div>
</article>