<article>
  <a href="/"> &larr; return</a>
  <h2>
    edit function
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      <textarea id="post-body" name="post-body" maxlength="1234">{{post.body}}</textarea>
    </div>
    <div>
      const votes = {{post.vote_count}}
      <br>
      by("you").on({{format_date post.created_at}})
      <br>
      {{post.comments.length}} {{format_plural "console log" post.comments.length}}
    </div>
    <button type="submit">save function</button>
  </form>

{{> comments post.comments}}

</article>

<script src="/javascript/edit-post.js"></script>